$cl-accent: #d41443; // акцент колір
$cl-primary: #ffa5ba; // основний колір
$cl-white-primary: #fff; // основний білий колір
$cl-h-text: #000; // колір заголовків тексту
$cl-text: #907e82; // колір основного тексту
$cl-hover-bg1: #c7133e; // колір ховеру бекграунд червоний
$cl-hover-bg2: #ecebeb; // колір ховеру бекграунд сірий

$cl-card1: #ffb8ca; // колір карточки морозива
$cl-card2: #f0d1a5; // колір карточки кави і кафе
$cl-card3: #c2e297; // колір карточки коктейля і авто-їдла

$cl-section: #fff5f6; // заливка секції світла
$cl-section-hero: #ffb8ca; // заливка героя

$cl-menu-bg: #e17992; // заливка фону мобільного меню
$cl-fill-social: #fea5bb; // заливка іконок соцмереж
$cl-button-contacts: #d41342; // колір кнопки секції контакти

$cl-footer-line: #e1e1e1; // колір лінії у футері
