<section class="section advantage__section">
    <div class="container advantage__container">
        <h2 class="advantage__title visually-hidden">Company's advantages</h2>

        <ul class="advantages-list">

            <li class="advantages-item">
                <div class="advantages-thumb advantages-thumb__first">
                    <p class="advantages-numbers">721</p>
                    <p class="advantages-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </li>


            <li class="advantages-item">
                <div class="advantages-thumb advantages-thumb__second">
                    <p class="advantages-numbers">16kg</p>
                    <p class="advantages-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </li>


            <li class="advantages-item">
                <div class="advantages-thumb advantages-thumb__third">
                    <p class="advantages-numbers">84</p>
                    <p class="advantages-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </li>

        </ul>
    </div>
</section>