<section class="section reviews">
  <div class="container reviews__container">
    <h2 class="visually-hidden">Customer reviews</h2>

    <input class="radio-btn" type="radio" name="slider" id="slide-1" value="slide-1" checked />
    <input class="radio-btn" type="radio" name="slider" id="slide-2" value="slide-2" />
    <input class="radio-btn" type="radio" name="slider" id="slide-3" value="slide-3" />

    <div class="reviews__slide-wrapper">
      <div class="reviews__slide" data-category="slide-1">
        <div class="reviews__img reviews__img--1"></div>
        <div class="reviews__text--wrapper">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="reviews__description">Emily, Los Angeles</span>
      </div>
      <div class="reviews__slide" data-category="slide-2">
        <div class="reviews__img reviews__img--2"></div>
        <div class="reviews__text--wrapper">
          <p class="reviews__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae similique ullam
            doloremque maiores voluptates asperiores esse assumenda cupiditate dolorem debitis.
          </p>
        </div>
        <span class="reviews__description">Cara, New York</span>
      </div>
      <div class="reviews__slide" data-category="slide-3">
        <div class="reviews__img reviews__img--3"></div>
        <div class="reviews__text--wrapper">
          <p class="reviews__text">
            Quo, ipsa odio doloribus ullam perferendis quas repudiandae ducimus magnam vel
            architecto molestias dicta. Eaque libero, veniam illum vitae commodi est maxime.
          </p>
        </div>
        <span class="reviews__description">Lora, Chicago</span>
      </div>
    </div>

    <ul class="reviews__slide-switchers">
      <li class="reviews__slide-switcher">
        <label for="slide-1">
          <svg class="reviews__switcher-icon" width="20" height="20">
            <use class="reviews__active-slide-icon" href="./images/sprite.svg#icon-home"></use>
            <use class="reviews__slide-icon" href="./images/sprite.svg#icon-ellipse"></use>
          </svg>
        </label>
      </li>
      <li class="reviews__slide-switcher">
        <label for="slide-2">
          <svg class="reviews__switcher-icon" width="20" height="20">
            <use class="reviews__active-slide-icon" href="./images/sprite.svg#icon-home"></use>
            <use class="reviews__slide-icon" href="./images/sprite.svg#icon-ellipse"></use>
          </svg>
        </label>
      </li>
      <li class="reviews__slide-switcher">
        <label for="slide-3">
          <svg class="reviews__switcher-icon" width="20" height="20">
            <use class="reviews__active-slide-icon" href="./images/sprite.svg#icon-home"></use>
            <use class="reviews__slide-icon" href="./images/sprite.svg#icon-ellipse"></use>
          </svg>
        </label>
      </li>
    </ul>
  </div>
</section>
