<div class="footer">
  <div class="container">
    <div class="footer__flex">
      <div class="footer-h">
        <p class="footer-h__h1">homemade ice cream made</p>
        <p class="footer-h__h2">with passion</p>
      </div>
      <div class="contakts">
        <ul class="social-media">
          <li>
            <a
              class="link__social-media"
              href="https://github.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="icon-social" width="32" height="32">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="link__social-media"
              href="https://telegram.org"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="icon-social" width="32" height="32">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="link__social-media"
              href="https://www.facebook.com"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg class="icon-social" width="32" height="32">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="tel">
          Feel free to contact&#160;
          <a class="tel-number" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
    <p class="copyright">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</div>
