<section id="aboutUs" class="gallery section">
  <div class="container gallery__container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="js-masonry" data-masonry='{ "itemSelector": ".masonry__item", "columnWidth": 50 }'>
      <div class="masonry__item masonry__item--1">
        <div class="masonry__item-img-1 open-slider"></div>
      </div>
      <div class="masonry__item masonry__item--2">
        <div class="masonry__item-img-2 open-slider"></div>
      </div>
      <div class="masonry__item masonry__item--3">
        <div class="masonry__item-img-3 open-slider"></div>
      </div>
      <div class="masonry__item masonry__item--4">
        <div class="masonry__item-img-4 open-slider"></div>
      </div>
      <div class="masonry__item masonry__item--5">
        <div class="masonry__item-img-5 open-slider"></div>
      </div>
      <div class="masonry__item masonry__item--6">
        <div class="masonry__item-img-6 open-slider"></div>
      </div>
      <div class="masonry__item masonry__item--7">
        <div class="masonry__item-img-7 open-slider"></div>
      </div>
      <div class="masonry__item masonry__item--8">
        <div class="masonry__item-img-8 open-slider"></div>
      </div>
      <div class="masonry__item masonry__item--9">
        <div class="masonry__item-img-9 open-slider"></div>
      </div>
      <div class="masonry__item masonry__item--10">
        <div class="masonry__item-img-10 open-slider"></div>
      </div>
      <div class="masonry__item masonry__item--11">
        <div class="masonry__item-img-11 open-slider"></div>
      </div>
    </div>

    <div data-slider class="gallery__backdrop slider-hidden">
      <button data-slider-close type="button" class="sliderClose">
        <svg class="sliderClose__icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>

      <div class="gallery__slider">
        <div>
          <img class="slide" src="./images/gallery/gallery-1.jpg" alt="kids eat ice cream" />
        </div>
        <div>
          <img class="slide" src="./images/gallery/gallery-2.jpg" alt="couple eats ice cream" />
        </div>
        <div>
          <img class="slide" src="./images/gallery/gallery-3.jpg" alt="dog eats ice cream" />
        </div>
        <div>
          <img
            class="slide"
            src="./images/gallery/gallery-4.jfif"
            alt="Boris Johnson eats ice cream"
          />
        </div>
        <div>
          <img class="slide" src="./images/gallery/gallery-5.jpg" alt="ice cream" />
        </div>
        <div>
          <img class="slide" src="./images/gallery/gallery-6.jpg" alt="ice cream" />
        </div>
        <div>
          <img class="slide" src="./images/gallery/gallery-7.jpg" alt="girl with ice cream" />
        </div>
        <div>
          <img class="slide" src="./images/gallery/gallery-8.jpg" alt="girl with ice cream" />
        </div>
        <div>
          <img class="slide" src="./images/gallery/gallery-9.jpg" alt="man with ice cream" />
        </div>
        <div>
          <img class="slide" src="./images/gallery/gallery-10.jpg" alt="ice cream" />
        </div>
        <div>
          <img class="slide" src="./images/gallery/gallery-11.jpg" alt="ice cream" />
        </div>
      </div>
    </div>
  </div>
</section>
