<section class="section hero__section">
  <div class="container hero__container">
    <div class="hero__left-part">
      <h1 class="page-title">ice cream made with <span class="page-title-accent">passion</span></h1>
      <ul class="hero__nav-list">
        <li class="hero__nav-item">
          <a class="hero__first-nav-link" href="#ourProducts">Products</a>
        </li>
        <li class="hero__nav-item">
          <a class="hero__second-nav-link" href="#howIt’sMade">How it’s made?</a>
        </li>
      </ul>
      <div class="hero__add-info">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="hero__btn" type="button">
          <img
            class="hero__btn-icon"
            src="./images/arrow-right3arrow-right@2x-min.png"
            alt="red right arrow"
          />
        </button>
      </div>
    </div>
    <div class="hero__right-part">
      <ul class="hero__stat-list">
        <li class="hero__stat-item">
          <span class="hero__stat-number">16</span>
          <span class="hero__stat-text">cafes</span>
        </li>
        <li class="hero__stat-item">
          <span class="hero__stat-number">23</span>
          <span class="hero__stat-text">food trucks</span>
        </li>
      </ul>
    </div>

    <div class="circle animate__animated animate__bounceIn"></div>
    <picture class="hero__img-1 animate__animated animate__bounceIn">
      <source
        srcset="./images/pc/hero-ice@1x.png 1x, ./images/pc/hero-ice@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/tab/hero-ice@1x-min.png 1x, ./images/tab/hero-ice@2x-min.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/mobile/hero-ice@1x.png 1x, ./images/mobile/hero-ice@2x.png 2x"
        media="(min-width: 320px)"
      />
      <img src="./images/pc/hero-ice@1x.png" alt="ice cream" />
    </picture>

    <picture class="hero__img-2 animate__animated animate__tada">
      <source
        srcset="./images/pc/hero-milk@1x.png 1x, ./images/pc/hero-milk@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/tab/heromilk@1x-min.png 1x, ./images/tab/heromilk@2x-min.png 2x"
        media="(min-width: 768px)"
      />
      <img src="./images/pc/hero-milk@1x.png" alt="jar with milk" />
    </picture>

    <picture class="hero__img-3 animate__animated animate__tada">
      <source
        srcset="./images/pc/hero-tasty@1x.png 1x, ./images/pc/hero-tasty@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/tab/hero-tasty@1x-min.png 1x, ./images/tab/hero-tasty@2x-min.png 2x"
        media="(min-width: 768px)"
      />
      <img src="./images/pc/hero-tasty@1x.png" alt="girl eats ice cream" />
    </picture>
  </div>
</section>
