<div data-map-modal class="backdrop is-hidden">
  <div class="modalMap">
    <button data-map-modal-close class="buttonClose" type="button">
      <svg class="buttonClose__icon" width="18" height="18">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="modalMapContainer">
      <h1 class="modalMap__title">Our Locations</h1>
      <ul class="modalMap__box">
        <li class="modalMap__item">
          <h2 class="modalMap__itemTitle">Chicago</h2>
          <div id="Chicago" class="mapBox"></div>
          <a class="contacts-social__tel contacts-social__map link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a
            class="contacts-social__mail contacts-social__map link"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
        <li class="modalMap__item">
          <h2 class="modalMap__itemTitle">New York</h2>
          <div id="NewYork" class="mapBox"></div>
          <a class="contacts-social__tel contacts-social__map link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a
            class="contacts-social__mail contacts-social__map link"
            href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
        <li class="modalMap__item">
                    <h2 class="modalMap__itemTitle modalMap__itemTitle--franchise">Los Angeles</h2>
                    <div id="LosAngeles" class="mapBox"></div>
                    <a class="contacts-social__tel contacts-social__map link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    <a class="contacts-social__mail contacts-social__map link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
      <img
        class=" modal__logo"
        src="./images/logo1logo@1x-min.png"
        alt="logo site"
        width="75"
        height="20"
      />
    </div>
  </div>
</div>
