<section id="ourProducts" class="section">
  <div class="container container__products">
    <p class="products__main-header-description">100% natural</p>
    <h2 class="products__main-header">products</h2>
    <ul class="products-block">
      <li class="products-block__item">
        <div class="products-card products-card--bg-pink">
          <ul>
            <li class="products-card__item">
              <h3 class="products-card__header--text">ice cream</h3>
            </li>
            <li class="products-card__item"></li>

            <li class="products-card__item"></li>
            <li class="products-card__item">
              <p class="products-card__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna aliqua facilisis.
              </p>
            </li>
            <li class="products-card__item">
              <button class="products-card__btn">
                <img class="products-card__btn--icon" src="./images/arrow-right3arrow-right@2x-min.png"
                  alt="red right arrow" />
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="products-block__item">
        <div class="products-card products-card--bg-bezh">
          <ul>
            <li class="products-card__item">
              <h3 class="products-card__header--text">ice coffee</h3>
            </li>
            <li class="products-card__item"></li>
            <li class="products-card__item">
              <p class="products-card__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna aliqua facilisis.
              </p>
            </li>
            <li class="products-card__item">
              <button class="products-card__btn">
                <img class="products-card__btn--icon" src="./images/arrow-right3arrow-right@2x-min.png"
                  alt="red right arrow" />
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li class="products-block__item">
        <div class="products-card products-card--bg-green">
          <ul>
            <li class="products-card__item">
              <h3 class="products-card__header--text">milkshakes</h3>
            </li>
            <li class="products-card__item"></li>
            <li class="products-card__item">
              <p class="products-card__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna aliqua facilisis.
              </p>
            </li>
            <li class="products-card__item">
              <button class="products-card__btn">
                <img class="products-card__btn--icon" src="./images/arrow-right3arrow-right@2x-min.png"
                  alt="red right arrow" />
              </button>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>